h1{
	padding-top: 10px;
	text-align:center;
}
div{
	border-bottom: thick solid black;
}
.postbreak{
	border-bottom: solid black;
}
#subt{
	font-style: italic;
}
body {
  color: black;
  font-family: Arial;
  margin-left: 30%;
  margin-right: 30%;
}
img{
	width:100%;
}